<section class="container">
    <h1 class="text-start">Descubrí todos los modelos </h1>
    <nav class="opction row">
        <article class="opction-select-lg col-sm-9 col-md-10  ">
            <ul class="option-ul nav nav-tabs nav-pills" role="tablist">
                <strong>Filtar por</strong>
                <li class="nav-item">
                    <a class=" nav-link active" data-bs-toggle="tab" role="tab" aria-selected="true" (click)="selectOption('todos')">Todos</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link " data-bs-toggle="tab" role="tab" aria-selected="false" (click)="selectOption('Autos')">Auto</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link " data-bs-toggle="tab" role="tab" aria-selected="false" (click)="selectOption('Pickups y Comerciales')">Pickups y Comerciales</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link " data-bs-toggle="tab" role="tab" aria-selected="false" (click)="selectOption('SUVs y Crossovers')">SUVs y Crossovers</a>
                </li>
            </ul>
        </article>
        <article class="opction-select-md col-6 col-sm-3 col-md-2 dropdown">
            <a class="btn  dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>Filtrar por</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li (click)="selectOption('todos')" class="active"><a class="dropdown-item">Todos</a></li>
                <li (click)="selectOption('Autos')"><a class="dropdown-item">Autos</a></li>
                <li (click)="selectOption('Pickups y Comerciales')"><a class="dropdown-item">Pickups y Comerciales</a></li>
                <li (click)="selectOption('SUVs y Crossovers')"><a class="dropdown-item">SUVs y Crossovers</a></li>
            </ul>
        </article>
        <article class="col-1 col-6 col-sm-3 col-md-2 dropdown">
            <a class="btn  dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>Ordenar por</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li (click)="selectOption('todos')" class="active"><a class="dropdown-item">Nada</a></li>
                <li (click)="selectOption('Price-men_may')"><a class="dropdown-item">De <strong>menor</strong>  a <strong>mayor</strong> precio</a></li>
                <li (click)="selectOption('Price-may_men')"><a class="dropdown-item">De <strong>mayor</strong>  a <strong>menor</strong> precio</a></li>
                <li (click)="selectOption('Year-may_men')"><a class="dropdown-item">Más <strong>nuevos</strong> primero</a></li>
                <li (click)="selectOption('Year-men_may')"><a class="dropdown-item">Más <strong>viejos</strong> primero</a></li>

            </ul>
        </article>

    </nav>
    <article class="cards">
        <app-cards [typeCard]='myOrder'></app-cards>
    </article>

</section>