<section class="principal">
    <article class="col-12 col-md-6">
        <img *ngIf="card.id==-1; else  elseBlock " [src]="card.photo" alt="..">
        <ng-template #elseBlock>
            <img [src]="'https://challenge.agenciaego.tech'+card.photo" alt="..">
        </ng-template>
    </article>
    <article class="col-12 col-md-6">
        <aside>
            <h2>{{card.name}}</h2>
            <h1>Preparada para <br> cualquier desafío </h1>
            <p>Mayor durabilidad, estabilidad, confort de marcha y mucha seguridad. Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet orem ipsum dolor.</p>
        </aside>
    </article>
</section>

<section class="carrucel">
    <app-carrucel></app-carrucel>
</section>

<section class="detalles">
    <article>
        <aside>
            <div>
                <h2>Título de 20 px</h2>
                <p>Mayor durabilidad, estabilidad, confort de marcha y mucha seguridad. Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet orem ipsum dolor.</p>
            </div>
        </aside>
        <aside>
            <img *ngIf="card.id==-1; else  elseimg " [src]="card.thumbnail" alt="img">
            <ng-template #elseimg>
                <img [src]="'https://challenge.agenciaego.tech'+card.thumbnail" alt="..">
            </ng-template>

        </aside>
    </article>

    <article>
        <aside>
            <div>
                <h2>Título de 20 px</h2>
                <p>Mayor durabilidad, estabilidad, confort de marcha y mucha seguridad. Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet orem ipsum dolor.</p>
            </div>
        </aside>
        <aside>
            <img src="./../../../assets/pages/ficha/card-infMov.png" alt="img">
        </aside>
    </article>
</section>