img {
    width: 40%;
}

.principal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0px;
    article {
        display: flex;
        justify-content: center;
    }
    article:nth-child(1) {
        img {
            width: 559px;
            height: 320px;
        }
    }
    article:nth-child(2) {
        aside {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 20px;
                font-weight: 600;
                color: rgb(55, 55, 55);
            }
            h1 {
                font-size: 50px;
                font-weight: 600;
                line-height: 1.14;
                letter-spacing: 1px;
                color: rgb(55, 55, 55);
            }
            p {
                font-size: 19px;
                font-weight: normal;
                margin-top: 37px;
                width: 70%;
                color: rgb(85, 85, 85);
            }
        }
    }
}

.carrucel {
    position: relative;
    background-color: rgb(247, 247, 247);
    padding: 43px 0;
}

.detalles {
    article {
        display: flex;
        justify-content: center;
        aside {
            padding: 28px 0;
            display: flex;
            justify-content: center;
            width: 80%;
        }
        aside:nth-child(1) {
            flex-direction: column;
            align-items: center;
            div {
                width: 60%;
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    color: rgb(55, 55, 55);
                }
                p {
                    font-size: 19px;
                    font-weight: normal;
                    color: rgb(85, 85, 85);
                }
            }
        }
        aside:nth-child(2) {
            img {
                width: 559px;
                height: 295px;
            }
        }
    }
    article:nth-child(2) {
        flex-direction: row-reverse;
    }
}

//----------------------------------------------------------------------------
@media only screen and (max-width: 1283px) {
    .principal {
        article:nth-child(1) {
            padding: 0 1em;
            img {
                width: 100%;
                height: auto;
                max-width: 559px;
                max-height: 320px;
            }
        }
        article:nth-child(2) {
            justify-content: space-between;
            padding: 0 5%;
            aside {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    color: rgb(55, 55, 55);
                }
                h1 {
                    font-size: 32px;
                    font-weight: 600;
                    letter-spacing: -0.15px;
                }
                p {
                    width: 100%;
                }
            }
        }
    }
    .detalles {
        article {
            aside:nth-child(2) {
                img {
                    width: 100%;
                    height: auto;
                    max-width: 559px;
                    max-height: 295px;
                }
            }
        }
        article:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
}

@media only screen and (max-width: 900px) {
    .detalles {
        article {
            aside:nth-child(1) {
                padding-top: 15px;
                div {
                    width: 90%;
                }
            }
            aside:nth-child(2) {
                padding-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .principal {
        padding-top: 40px;
        padding-bottom: 38px;
        article:nth-child(1) {
            padding: 0 1em;
            padding-bottom: 42px;
            img {
                width: 100%;
                height: auto;
                max-width: 559px;
                max-height: 320px;
            }
        }
        article:nth-child(2) {
            aside {
                h2 {
                    text-align: center;
                }
                h1 {
                    text-align: center;
                    line-height: 1.4;
                }
                p {
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }
    }
    .detalles {
        article {
            flex-direction: column-reverse;
            aside {
                width: 100%;
            }
            aside:nth-child(1) {
                div {
                    h2 {
                        color: rgb(32, 32, 32);
                        font-weight: 500;
                    }
                    p {
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
            aside:nth-child(2) {
                img {
                    padding: 0 5%;
                }
            }
        }
        article:nth-child(2) {
            flex-direction: column-reverse;
        }
    }
}

@media only screen and (max-width: 400px) {
    .principal {
        article:nth-child(1) {
            img {
                width: 100%;
                height: auto;
            }
        }
        article:nth-child(2) {
            aside {
                h2 {
                    text-align: start;
                }
                h1 {
                    text-align: start;
                    font-size: 32px;
                    font-weight: 600;
                    letter-spacing: -0.15px;
                }
                p {
                    width: 100%;
                }
                @media only screen and (max-width: 353px) {
                    h1 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}