.myCars {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .card {
        border: none;
        width: auto;
        min-width: 240px;
        max-width: 250px;
        margin-bottom: 75px;
        .card-body {
            padding: 0px;
            h5 {
                font-size: 28px;
                font-weight: 600;
            }
            span {
                font-size: 14px;
                font-weight: normal;
                color: rgb(25, 25, 25);
            }
        }
        .card-footer {
            display: flex;
            justify-content: center;
            padding: 0;
            background-color: transparent;
            border-top: none;
            height: 38px;
        }
        .btn-black {
            display: none;
        }
    }
    .card:hover {
        .btn-black {
            display: block;
            color: white;
            background-color: rgb(31, 31, 31);
            cursor: pointer;
            padding: 5px 25px;
            border-radius: 18px;
        }
        .btn-black:hover {
            background-color: rgb(68, 67, 67);
        }
    }
}

@media only screen and (max-width: 698px) {
    .myCars {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .card:hover {
        .btn-black {
            display: none;
        }
    }
}