<section class="myCars">
    <article class="card" *ngFor="let items of cards; let i=index">
        <aside class="card-body text-center">
            <h5 class="card-title">{{items.name}}</h5>
            <span class="card-text">{{items.year}}  |  </span>
            <span class="card-text">$ {{items.price}}</span>
        </aside>
        <img (click)="fichas(items.id)" [src]="'https://challenge.agenciaego.tech'+items.photo" class="card-img-bottom" alt="...">
        <aside class="card-footer">
            <button [routerLink]="'/ficha/'+items.id" class="btn-black">Ver Modelo</button>
        </aside>
    </article>
</section>