<section class="container-fluid p-0">
    <section class="btn-caja" (click)="irAtras()">
        <div class="slider__btn slider__btn--left" id="btn-left">
            <i class="bi bi-chevron-compact-left"></i>
        </div>
    </section>
    <section class="btn-caja-rigth" (click)="irAdelante()">
        <div class="slider__btn slider__btn--right" id="btn-right">
            <i class="bi bi-chevron-compact-right"></i>
        </div>
    </section>

    <section class="container-slider ">
        <article class="slider " id="slider">
            <div class="slider__section">
                <img src="../../../assets/pages/ficha/card-infMov.png" class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>
            <div class="slider__section">
                <img src="../../../assets/pages/ficha/img1.png" class="slider__img" alt="..">
                <h2 id="text"> 1Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L).</p>
            </div>
            <div class="slider__section">
                <img src="../../../assets/pages/ficha/img2.png" class="slider__img" alt="..">
                <h2>Suspensión mejorada</h2>
                <p>Mayor confort de marcha, estabilidad y capacidad Off Road.</p>
            </div>
            <div class="slider__section">
                <img src="../../../assets/pages/ficha/img3.png" class="slider__img" alt="..">
                <h2>Transmisión automática</h2>
                <p>Posibilidad de elección de caja automática de manejo.</p>
            </div>
            <div class="slider__section">
                <img src="../../../assets/pages/ficha/img4.png" class="slider__img" alt="..">
                <h2>Transmisión manual</h2>
                <p>Posibilidad de elección de caja automática de manejo.</p>
            </div>
            <div class="slider__section">
                <img src="../../../assets/pages/ficha/card-infMov.png" class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>

            <div class="slider__section">
                <img src="../../../assets/pages/ficha/card.png" class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>
            <div class="slider__section">
                <img src="../../../assets/pages/ficha/card_inf.png" class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>

        </article>

    </section>


</section>