<section class="fixed container-fluid p-0 m-0 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 m-0">
        <div class="menu container-fluid">
            <section class="menu-logo ">
                <img class="img-logo" [routerLink]="['/']" src="../../../assets/pages/nav/logo.png" alt="...">
            </section>
            <section class="menu-page collapse navbar-collapse  " id="navbarTogglerDemo03">
                <ul class="nav nav-tabs nav-pills mb-3" style="padding-left: 110px;" role="tablist">
                    <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 110px;" id="pages"> -->
                    <li class="nav-item  ">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/']" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Modelos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " [routerLink]="'/ficha'" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Fichas</a>
                    </li>
                </ul>
            </section>
            <section>
                <img class="img-menu" src="../../../assets/pages/nav/menu.png" (click)="menuOpenClose('menu-open')" alt="menu">
            </section>
            <section class="menu-subPage" [ngClass]="menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-rigth">
                    <li class="nav-close" (click)="menuOpenClose('menu-close')">
                        <label for="idclose"> <span>Cerrar</span>  </label>
                        <a id="idclose"> <img class="img-menu_cerrar" src="../../../assets/pages/nav/menu-cerrar.png" alt="cerrar"></a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Modelos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Servicios y Accesorios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Financiación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Reviews y Comunidad</a>
                    </li>
                    <li class="nav-linea">
                        <div class="linea"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Toyota Mobility Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Toyota Gazoo Racing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Toyota Híbridos</a>
                    </li>
                    <li class="nav-linea">
                        <div class="linea"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Concesionarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Test Drive</a>
                    </li>
                    <li class="nav-item" style="line-height:0; padding-bottom: 18px; padding-top: 15px;">
                        <a class="nav-link" href="/">Contacto</a>
                    </li>

                    <article class="nav-container_sub">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Servicios al Cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Ventas Especiales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Innovación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Prensa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Acerca de...</a>
                        </li>
                    </article>
                </ul>

            </section>
        </div>
    </nav>
</section>